attrs==21.2.0
autopep8==1.6.0
beautifulsoup4==4.10.0
certifi==2021.10.8
charset-normalizer==2.0.9
coverage==6.2
idna==3.3
iniconfig==1.1.1
packaging==21.3
pip==21.2.4
pluggy==1.0.0
py==1.11.0
pycodestyle==2.8.0
pyparsing==3.0.6
pytest==6.2.5
pytest-cov==3.0.0
requests==2.26.0
setuptools==58.0.4
soupsieve==2.3.1
toml==0.10.2
tomli==1.2.2
tqdm==4.62.3
urllib3==1.26.7
wheel==0.37.0
